{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "~": "./",
          "@styles": "./styles",
          "@src": "./src",
          "@components": "./src/components",
          "@lib": "./src/lib"
        }
      }
    ]
  ]
}
