html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans JP', -apple-system, 'Segoe UI', 'Helvetica Neue',
    'Hiragino Kaku Gothic ProN', メイリオ, meiryo, sans-serif;
  color: #222;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, -apple-system, 'Segoe UI', 'Helvetica Neue', 'Hiragino Kaku Gothic ProN',
    メイリオ, meiryo, sans-serif;
}
